version: '3.8'

services:
  go-docker:
    platform: linux/arm64
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    # volumes:
    #   - ./src:/usr/src/app/src
    #   - ./nodemon.json:/usr/src/app/nodemon.json
    container_name: go-docker
    expose:
      - '8080'
    ports:
      - '8080:8080'
    command: go run ./src/github.com/Ryoneme2/go-restful-api/pkg/greeting/main.go